<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emails</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

</head>
<body>
    <div class="container d-flex justify-content-center align-items-center pt-5">
        <div class="">
            <div>
                {% with messages = get_flashed_messages(with_categories=true)%}
                    {% if messages %}
                        <ul class="flashes d-flex  justify-content-center">
                            {% for email, message in messages %}
                                <li class="{{email}} alert alert-danger">{{message}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <form action="/email/save" method="post" class="row align-items-center">
                <label for="email" class="form-label align-items-star col">Enter an email: </label>
                <input type="text" id="email" name="email" class="form-control col">
                <button class="btn btn-primary col ms-3">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>
</html>